.dashboard-section {
    border-radius: 40px;
    background-color: #ebeafc;
    margin: 20px 0;
    background-image: radial-gradient(#37348b4b 1px, transparent 0);
    background-size: 30px 30px;
    background-position: -5px -5px;
    background-attachment: fixed;
}